run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "cowsay", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "python3", "qhull", "tcl", "tk"]

[workflows]
runButton = "Run Telegram Bot"

[[workflows.workflow]]
name = "Run Telegram Bot"
author = 44316140
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd replit_postgres_bot && python main.py"
